<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388459311901-1l69pck9estfbtp1gokocp3iik9efibt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388459311901-1l69pck9estfbtp1gokocp3iik9efibt</string>
	<key>API_KEY</key>
	<string>AIzaSyCrXR8dzQTNlGIuf6F2d8Fzwlt3B1uVjRg</string>
	<key>GCM_SENDER_ID</key>
	<string>388459311901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jurisLawApp</string>
	<key>PROJECT_ID</key>
	<string>juris-law-app</string>
	<key>STORAGE_BUCKET</key>
	<string>juris-law-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388459311901:ios:c3aa4e37f15176a3d827f4</string>
</dict>
</plist>